/.idea/
my-lab.iml
/www/WEB-INF/classes/se/yrgo/schedule/*.class
/www/WEB-INF/classes/se/yrgo/schedule/XmlFormatter.java
/www/WEB-INF/classes/se/yrgo/schedule/HtmlFormatter.java

# Default ignored files
/shelf/
/.idea/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

